In [5]:
import os
import pickle
import pandas as pd

# Base directory containing the subdirectories
# base_dir = 'data/cross_prompt_attributes'
base_dir=''
combined_data = []

# Loop through each numbered folder (1 to 8)
for i in range(1, 9):
    folder_path = os.path.join(base_dir, str(i))
    
    # List of file names to read from each subdirectory
    file_names = ['train.pk', 'dev.pk', 'test.pk']
    
    # Load and append data from each file in the folder
    for file_name in file_names:
        file_path = os.path.join(folder_path, file_name)
        
        # Check if the file exists to avoid errors
        if os.path.isfile(file_path):
            with open(file_path, 'rb') as f:
                data = pickle.load(f)
                
                # Assuming each loaded file contains a list of dictionaries
                combined_data.extend(data)

# Convert to DataFrame, remove duplicates, and save as CSV
df = pd.DataFrame(combined_data)
df.drop_duplicates(inplace=True)

# Save to CSV
df.to_csv('combined_data.csv', index=False)
print("Data combined and saved to 'combined_data.csv' without duplicates.")

Data combined and saved to 'combined_data.csv' without duplicates.

In [6]:
import os
import pickle
import pandas as pd

# Base directory containing the subdirectories
base_dir = ''
combined_data = []

# Loop through each numbered folder (1 to 8)
for i in range(1, 9):
    folder_path = os.path.join(base_dir, str(i))
    
    # List of file names to read from each subdirectory
    file_names = ['train.pk', 'dev.pk', 'test.pk']
    
    # Load and append data from each file in the folder
    for file_name in file_names:
        file_path = os.path.join(folder_path, file_name)
        
        # Check if the file exists to avoid errors
        if os.path.isfile(file_path):
            with open(file_path, 'rb') as f:
                data = pickle.load(f)
                
                # Assuming each loaded file contains a list of dictionaries
                combined_data.extend(data)

# Convert to DataFrame, remove duplicates, and sort by prompt_id
df = pd.DataFrame(combined_data)
df.drop_duplicates(inplace=True)

# Sort DataFrame by prompt_id
df.sort_values(by='prompt_id', inplace=True)

# Save to CSV
df.to_csv('combined_data.csv', index=False)
print("Data combined, sorted by 'prompt_id', and saved to 'combined_data.csv' without duplicates.")

Data combined, sorted by 'prompt_id', and saved to 'combined_data.csv' without duplicates.

In [7]:
import os
import pickle
import pandas as pd

# Base directory containing the subdirectories
base_dir = ''
combined_data = []

# Loop through each numbered folder (1 to 8)
for i in range(1, 9):
    folder_path = os.path.join(base_dir, str(i))
    
    # List of file names to read from each subdirectory
    file_names = ['train.pk', 'dev.pk', 'test.pk']
    
    # Load and append data from each file in the folder
    for file_name in file_names:
        file_path = os.path.join(folder_path, file_name)
        
        # Check if the file exists to avoid errors
        if os.path.isfile(file_path):
            with open(file_path, 'rb') as f:
                data = pickle.load(f)
                
                # Assuming each loaded file contains a list of dictionaries
                combined_data.extend(data)

# Convert to DataFrame, remove duplicates
df = pd.DataFrame(combined_data)
df.drop_duplicates(inplace=True)

# Sort by 'prompt_id' and then by 'essay_id'
df.sort_values(by=['prompt_id', 'essay_id'], inplace=True)

# Save to CSV
df.to_csv('combined_data.csv', index=False)
print("Data combined, sorted by 'prompt_id' and 'essay_id', and saved to 'combined_data.csv' without duplicates.")

Data combined, sorted by 'prompt_id' and 'essay_id', and saved to 'combined_data.csv' without duplicates.

In [8]:
import os
import pickle
import pandas as pd

# Base directory containing the subdirectories
base_dir = ''
combined_data = []

# Loop through each numbered folder (1 to 8)
for i in range(1, 9):
    folder_path = os.path.join(base_dir, str(i))
    
    # List of file names to read from each subdirectory
    file_names = ['train.pk', 'dev.pk', 'test.pk']
    
    # Load and append data from each file in the folder
    for file_name in file_names:
        file_path = os.path.join(folder_path, file_name)
        
        # Check if the file exists to avoid errors
        if os.path.isfile(file_path):
            with open(file_path, 'rb') as f:
                data = pickle.load(f)
                
                # Assuming each loaded file contains a list of dictionaries
                combined_data.extend(data)

# Convert to DataFrame, remove duplicates
df = pd.DataFrame(combined_data)
df.drop_duplicates(inplace=True)

# Sort by 'prompt_id' and then by 'essay_id'
df.sort_values(by=['prompt_id', 'essay_id'], inplace=True)

# Define the new column order
new_order = ['essay_id', 'prompt_id', 'content_text'] + [col for col in df.columns if col not in ['essay_id', 'prompt_id', 'content_text']]

# Reorder the DataFrame
df = df[new_order]

# Save to CSV
df.to_csv('combined_data.csv', index=False)
print("Data combined, sorted by 'prompt_id' and 'essay_id', reordered, and saved to 'combined_data.csv' without duplicates.")

Data combined, sorted by 'prompt_id' and 'essay_id', reordered, and saved to 'combined_data.csv' without duplicates.

In [9]:
import os
import pickle
import pandas as pd

# Base directory containing the subdirectories
base_dir = ''
combined_data = []

# Loop through each numbered folder (1 to 8)
for i in range(1, 9):
    folder_path = os.path.join(base_dir, str(i))
    
    # List of file names to read from each subdirectory
    file_names = ['train.pk', 'dev.pk', 'test.pk']
    
    # Load and append data from each file in the folder
    for file_name in file_names:
        file_path = os.path.join(folder_path, file_name)
        
        # Check if the file exists to avoid errors
        if os.path.isfile(file_path):
            with open(file_path, 'rb') as f:
                data = pickle.load(f)
                
                # Assuming each loaded file contains a list of dictionaries
                combined_data.extend(data)

# Convert to DataFrame, remove duplicates
df = pd.DataFrame(combined_data)
df.drop_duplicates(inplace=True)

# Convert 'essay_id' to integer for proper sorting
df['essay_id'] = df['essay_id'].astype(int)

# Sort by 'prompt_id' and then by 'essay_id'
df.sort_values(by=['prompt_id', 'essay_id'], inplace=True)

# Define the new column order
new_order = ['essay_id', 'prompt_id', 'content_text'] + [col for col in df.columns if col not in ['essay_id', 'prompt_id', 'content_text']]

# Reorder the DataFrame
df = df[new_order]

# Save to CSV
df.to_csv('combined_data.csv', index=False)
print("Data combined, sorted by 'prompt_id' and 'essay_id', reordered, and saved to 'combined_data.csv' without duplicates.")

Data combined, sorted by 'prompt_id' and 'essay_id', reordered, and saved to 'combined_data.csv' without duplicates.

In [41]:
# Check for missing essay_ids in combined_data.csv 

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Load the combined data
combined_data = pd.read_csv('combined_data.csv')

# Check for missing values
print(combined_data.isnull().sum())

essay_id                0
prompt_id               0
content_text            0
score                   0
content                 1
prompt_adherence     5874
language             5874
narrativity          5874
organization         7103
word_choice          8672
sentence_fluency     8672
conventions          7103
style               11408
voice               12254
dtype: int64

In [42]:
combined_data.shape

(12977, 14)

In [43]:
lda_data = pd.read_csv('..\\..\\data\\LDA\\hand_crafted_final_2.csv')

In [44]:
lda_data.head()

,item_id,prompt_id,highest_topic,mean_word,word_var,mean_sent,sent_var,ess_char_len,word_count,prep_comma,...,WDT,DT,CD,NN,TO,JJ,VBP,RP,NNS,score
0,1,1,0.8894,4.400593,5.842492,21.062500,171.308594,1483,337,71,...,0.000000,0.051546,0.000000,0.144330,0.025773,0.048969,0.030928,0.007732,0.043814,8.0
1,2,1,0.8669,4.353222,5.469506,20.950000,142.247500,1824,419,70,...,0.002146,0.075107,0.008584,0.122318,0.017167,0.042918,0.036481,0.004292,0.087983,9.0
2,3,1,0.9583,4.405018,5.545638,19.928571,184.637755,1229,279,41,...,0.000000,0.085714,0.006349,0.123810,0.025397,0.047619,0.076190,0.009524,0.111111,7.0
3,4,1,0.8561,4.868321,6.415867,19.407407,135.722908,2551,524,77,...,0.003247,0.069805,0.000000,0.126623,0.024351,0.066558,0.040584,0.001623,0.086039,10.0
4,5,1,0.9266,4.408602,5.450249,15.500000,43.516667,2050,465,56,...,0.005780,0.104046,0.009634,0.131021,0.040462,0.042389,0.036609,0.001927,0.078998,8.0

In [45]:
lda_data.shape

(12978, 55)

In [46]:


# find out which two essay ids are missing in combined_data.csv from lda_data
missing_ids = lda_data[~lda_data['item_id'].isin(combined_data['essay_id'])]['item_id']

missing_ids

12565    4365
Name: item_id, dtype: int64

In [62]:
# missing_ids = [4355,4365]

# Load the training_set_rel3.tsv file and prompt2.csv file and fill the values for the missing essay_ids
# contains essay details
training_set = pd.read_csv('..\\..\\data\\training_set_rel3.tsv', sep='\t', encoding='ISO-8859-1')
# contains scores
prompt2 = pd.read_csv('..\\..\\Feedback\\Prompt-2.csv')

In [54]:
training_set.columns

Index(['essay_id', 'essay_set', 'essay', 'rater1_domain1', 'rater2_domain1',
       'rater3_domain1', 'domain1_score', 'rater1_domain2', 'rater2_domain2',
       'domain2_score', 'rater1_trait1', 'rater1_trait2', 'rater1_trait3',
       'rater1_trait4', 'rater1_trait5', 'rater1_trait6', 'rater2_trait1',
       'rater2_trait2', 'rater2_trait3', 'rater2_trait4', 'rater2_trait5',
       'rater2_trait6', 'rater3_trait1', 'rater3_trait2', 'rater3_trait3',
       'rater3_trait4', 'rater3_trait5', 'rater3_trait6'],
      dtype='object')

In [55]:
# percentage ofmissing data in training_set
training_set.isnull().sum()/training_set.shape[0]

essay_id          0.000000
essay_set         0.000000
essay             0.000000
rater1_domain1    0.000000
rater2_domain1    0.000000
rater3_domain1    0.990136
domain1_score     0.000000
rater1_domain2    0.861282
rater2_domain2    0.861282
domain2_score     0.861282
rater1_trait1     0.823366
rater1_trait2     0.823366
rater1_trait3     0.823366
rater1_trait4     0.823366
rater1_trait5     0.944282
rater1_trait6     0.944282
rater2_trait1     0.823366
rater2_trait2     0.823366
rater2_trait3     0.823366
rater2_trait4     0.823366
rater2_trait5     0.944282
rater2_trait6     0.944282
rater3_trait1     0.990136
rater3_trait2     0.990136
rater3_trait3     0.990136
rater3_trait4     0.990136
rater3_trait5     0.990136
rater3_trait6     0.990136
dtype: float64

In [56]:
prompt2.columns

Index(['EssayID', 'Content', 'Organization', 'Word Choice', 'Sentence Fluency',
       'Conventions'],
      dtype='object')

In [57]:
combined_data.columns

Index(['essay_id', 'prompt_id', 'content_text', 'score', 'content',
       'prompt_adherence', 'language', 'narrativity', 'organization',
       'word_choice', 'sentence_fluency', 'conventions', 'style', 'voice'],
      dtype='object')

In [ ]:
# find datapoint with item_id as 4365
lda_data[lda_data['item_id'] == 4365]

,item_id,prompt_id,highest_topic,mean_word,word_var,mean_sent,sent_var,ess_char_len,word_count,prep_comma,...,WDT,DT,CD,NN,TO,JJ,VBP,RP,NNS,score
12565,4365,2,0.9848,4.224335,5.154997,18.785714,64.096939,2222,526,82,...,0.011647,0.116473,0.003328,0.144759,0.024958,0.03827,0.028286,0.008319,0.073211,4.0

In [58]:
training_set[training_set['essay_id'] == 4365]

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
3170,4365,2,Katherine stated that if everyone had the righ...,4,4,NaN,4,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
prompt2[prompt2['EssayID'] == 4365]

,EssayID,Content,Organization,Word Choice,Sentence Fluency,Conventions
1378,4365,6,6,6,6,6

In [64]:
import pandas as pd

def fill_missing_essays(missing_ids, training_tsv_path, prompt_csv_path):
    # Load the training_set_rel3.tsv file
    training_set = pd.read_csv(training_tsv_path, sep='\t', encoding='ISO-8859-1')

    # Load the Prompt-2.csv file
    prompt2 = pd.read_csv(prompt_csv_path)

    # Filter training_set to include only the missing essay_ids
    training_missing = training_set[training_set['essay_id'].isin(missing_ids)]

    # Filter prompt2 to include only the missing essay_ids
    prompt_missing = prompt2[prompt2['EssayID'].isin(missing_ids)]

    # Combine the two filtered DataFrames to get the required information
    combined_missing = pd.merge(training_missing, prompt_missing, left_on='essay_id', right_on='EssayID', how='inner')

    # Select and rename the relevant columns to match the combined_data.csv structure
    combined_missing = combined_missing.rename(columns={
        'essay_id': 'essay_id',
        'essay_set': 'prompt_id',  # Assuming essay_set corresponds to prompt_id
        'essay': 'content_text',
        'domain1_score' : 'score',
        'Content':'content',
        'Organization': 'organization',
        'Word Choice' : 'word_choice',
        'Sentence Fluency' : 'sentence_fluency',
        'Conventions': 'conventions'
    })

    # Add placeholder columns for style and voice
    combined_missing['style'] = ''  # or any default value
    combined_missing['voice'] = ''  # or any default value

    # Select only the columns needed for the final DataFrame
    final_columns = [
        'essay_id', 'prompt_id', 'content_text', 'score',
        'organization', 'word_choice', 'sentence_fluency', 'conventions', 'style', 'voice'
    ]

    combined_missing = combined_missing[final_columns]

    return combined_missing

# Example usage
missing_ids = [4365]
training_tsv_path = '..\\..\\data\\training_set_rel3.tsv'
prompt_csv_path = '..\\..\\Feedback\\Prompt-2.csv'

# Fill in missing essay details
missing_essays_df = fill_missing_essays(missing_ids, training_tsv_path, prompt_csv_path)

# Display the DataFrame with filled values
print(missing_essays_df)

   essay_id  prompt_id                                       content_text  \
0      4365          2  Katherine stated that if everyone had the righ...

   score  organization  word_choice  sentence_fluency  conventions style voice
0      4             6            6                 6            6

In [65]:
missing_essays_df.shape

(1, 10)

In [66]:
# Add missing_essay_df to combined_data.csv
combined_data = pd.read_csv('combined_data.csv')

# Append the missing_essays_df to the combined_data DataFrame
combined_data = pd.concat([combined_data, missing_essays_df], ignore_index=True)

# Sort by 'prompt_id' and then by 'essay_id'
combined_data.sort_values(by=['prompt_id', 'essay_id'], inplace=True)


# Save the updated DataFrame to a new CSV file
combined_data.to_csv('combined_data.csv', index=False)

In [67]:
combined_data.shape

(12978, 14)

In [68]:
lda_data.shape

(12978, 55)